/*  //My code// */

.w3-top{
  position:relative;
}

.PT  {border-collapse:collapse;border-spacing:0;height:3em;}
.PT td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.PT th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.PT .PT-P{background-color:#656565;color:#ffffff;border-color:#ffffff;vertical-align:top;width:2em;}
.PT .PT-N{background-color:#ffffff;text-align:center;border-color:#ffffff;vertical-align:top;width:12em;}
.PT .PT-S{font-family:Impact, Charcoal, sans-serif !important;;background-color:#c0c0c0;border-color:#ffffff;color:#333333;vertical-align:top;width:4em;}

body.playoffs {
  background-image:url("p1.jpg");
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height:100%;
}

.matchupsA{
  background-color:#777777;
  padding: 1.5em 4em;
  display: flex;
  flex-wrap: wrap
}

.matchupsB{
  background-color:#999999;
  padding: 1.5em 4em;
  display: flex;
  flex-wrap: wrap
}

.matchup-boxL {
  padding: 1.3em 2.5em 1.3em 0em;
  width:35%;
  display: inline-flex;
  text-align: center;
}

.matchup-boxR {

  padding: 1.3em 0em 1.3em 2.5em;
  width:35%;
  display: inline-flex;
  float:right;
  text-align: center;
}

.matchup-boxL > p{
  width:75px;
  margin: 0;
}

.matchup-boxR > p{
  width:75px;
  margin: 0;
}

.w3-round-xlarge{
  height: 100%;
  width:100%;
}

.video-box {
  width: 100%;
  margin-top: 55px;
  margin-left:251px;
  background-color: rgba(179, 171, 171, 0.623);
  display: inline-block;
}

@media (min-width: 1285px){
  .playoff-box{
  margin-top: 3.44em;
  max-height: 100%;
  overflow: hidden;
  display:block;
  position:absolute;
  }
}

.playoffB{
  width:100%; 
  height:700px;
  position: absolute;;
  z-index: 0;
}

.playoffW{
  position:absolute;
  width: 100%;
  z-index: 1;
}

.playoffL{
  width:100%; 
  height:700px;
  position: absolute;
  z-index:-1;
}

.buttonP {
  border: 1px solid #0a3c59;
  background: #3e779d;
  background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
  background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
  background: -moz-linear-gradient(top, #65a9d7, #3e779d);
  background: -ms-linear-gradient(top, #65a9d7, #3e779d);
  background: -o-linear-gradient(top, #65a9d7, #3e779d);
  background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
  padding: 4.5px 9px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
  -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
  box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
  text-shadow: #7ea4bd 0 1px 0;
  color: #06426c;
  font-size: 16px;
  font-family: helvetica, serif;
  text-decoration: none;
  vertical-align: middle;
  position: absolute;
  }
  
.buttonP:hover {
  border: 1px solid #0a3c59;
  text-shadow: #1e4158 0 1px 0;
  background: #3e779d;
  background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
  background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
  background: -moz-linear-gradient(top, #65a9d7, #3e779d);
  background: -ms-linear-gradient(top, #65a9d7, #3e779d);
  background: -o-linear-gradient(top, #65a9d7, #3e779d);
  background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
  color: #fff;
  position: absolute;
  }

.buttonP:active {
  text-shadow: #1e4158 0 1px 0;
  border: 1px solid #0a3c59;
  background: #65a9d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
  background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
  background: -moz-linear-gradient(top, #3e779d, #65a9d7);
  background: -ms-linear-gradient(top, #3e779d, #65a9d7);
  background: -o-linear-gradient(top, #3e779d, #65a9d7);
  background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
  color: #fff;
  position: absolute;
  }