/* // My code// */

.w3-top{
  position:relative;
}

.matchups{
  background-color: red;
  position:absolute;
  width:100%;
  display: inline-flex;
}

.matchup-boxL {
  margin: auto 0;
  padding: 20px 2.4%;
  width:40%;
  display: inline-flex;
}

.matchup-boxR {
  margin: auto 0;
  padding: 20px 2.4%;
  width:40%;
  display: inline-flex;
  float:right;
}

.matchup-boxL > p{
  width:75px;
  margin: 0;
}

.matchup-boxR > p{
  width:75px;
  margin: 0;
}

.w3-round-xlarge{
  height: 100%;
  width: 90%;
}

.w3-light-grey{
  width: 100%;
}

.wrapper{
  width: 960px;
  margin: 0 100 0 100;
}


.video-box{
  width: 100%;
    background-color: #FFF;
}
